.Profile {
  overflow-x: hidden;
  header {
    background: url("../images/CSED.jpg") 0 / cover no-repeat $light-color;
    background-blend-mode: overlay;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    animation: sliding 30s infinite;    
    nav {
      padding: 0 9% 24px;
    }
    h1 {
      margin-top: calc(100vh - 378px);
      letter-spacing: 0.19em;
      text-align: center;
      color: $main-color;
      font-size: 48px;
      @media screen and (max-width: 600px) {
        font-size: 32px;
      }
      @media screen and (max-height: 400px) {
        margin-top: calc(100vh - 250px);
      }
    }
  }
  
  main {
    overflow: hidden;
    .user-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: 24px 0;
      h2 {
        color: $secondary-color;
        font-size: $heading-size;
        font-weight: $semi-weight;
        max-width: calc(100% - 200px);
      }
      div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        p {
          color: $main-color;
          font-weight: $semi-weight;
          span {
            color: $grey-color;
            margin-left: 8px;
          }
          &:last-of-type {
            margin-left: 16px;
          }
        }
      }
    }
  }
}

@keyframes sliding {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}